<h1>About</h1>
<p>Depot shop is a catalog application for the best books to learn Ruby on Rails. Depot allows users to add the book of their choice
to a cart and check out.</p>

<p>
  Once the order has been placed, the administrator of the application will log in with their username and password. The admin will 
  go through the orders, verify payment information, shipping information and then ship the product.
</p>
